@import "../variables";

.search-wrapper {
  width: 400px;
  position: relative;

  input {
    padding: 10px;
    width: 100%;
    border: 2px solid $orange;
    border-radius: 40px;
  }
  button {
    cursor: pointer;
    border: none;
    background: transparent;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    :hover {
      transition: 0.3s;
      transform: scale(1.1);
    }
  }
}
